body {
  background-color: black;
  font-family: 'Trebuchet MS', sans-serif;
  margin-left: 800px;
  margin-right: 800px;
  color: white;
  text-align: center;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background: #131313;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  margin-left: 800px;
  margin-right: 800px;
}

h1 {
  color: white;
  margin: 100;
  font-size: 17px;
  text-align: center;
  margin-left: 800px;
  margin-right: 800px;
}

.application-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.application-link:hover {
  text-decoration: underline;
}
