body {
  background-color: #131313;
}
.header1 {
  padding: 20px;
  text-align: center;
  background: #131313;
  font: 15px Arial, sans-serif;
  color: white;
}
h1 {
  color: white;
  margin-left: 20px;
  text-align: center;
  font: 15px Arial, sans-serif;
}
p1 {
  color: white;
  margin-left: 20px;
  text-align: center;
  font: 15px Arial, sans-serif;
}
