body {
  background-color: black;
  font-family: 'Trebuchet MS';
  font-weight: 800;
  color: white;
}
.header1 {
  padding: 20px;
  text-align: center;
  background: #131313;
  font-size: 15px 
  font-family: 'Trebuchet MS';
  font-weight: 800;
  color: white;
}
h1 {
  color: white;
  margin-left: 20px;
  text-align: center;
  font-family: 'Trebuchet MS';
  font-weight: bold;
}
p1 {
  color: white;
  margin-left: 20px;
  text-align: center;
  font-family: 'Trebuchet MS';
  font-weight: bold;
}
